<html>
<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Welcome to the Home Page!</h1>
  <a href="/contact">
    <button>Go to Contact Page</button>
  </a>
</body>
</html>
